<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Bronto\Redemption\Model\Observer">
    <arguments>
      <argument name="helper" xsi:type="object">Bronto\M2\Redemption\Settings</argument>
      <argument name="source" xsi:type="object">Bronto\M2\Redemption\Event\Source</argument>
    </arguments>
  </type>
  <preference for="Bronto\M2\Redemption\SettingsInterface" type="Bronto\M2\Redemption\Settings"/>
  <preference for="Bronto\M2\Integration\CouponSettingsInterface" type="Bronto\M2\Redemption\Settings"/>
</config>
