stages:
    - version-candidate
    - build-candidate
    - version-release
    - build-release

before_script:
    - bash ci/composer_install.sh #> /dev/null
    - apt-get update -y
    - 'command -v ssh-agent >/dev/null || apt-get install openssh-client -y'
    - apt install git -y
    - apt-get install libyaml-dev -y
    - pecl install yaml && echo "extension=yaml.so" > /usr/local/etc/php/conf.d/ext-yaml.ini && docker-php-ext-enable yaml
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - ssh-keyscan gitlab.brontolabs.com >> ~/.ssh/known_hosts && chmod 644 ~/.ssh/known_hosts
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")

# Generate an RC release version for staging based on commit message keywords
version-candidate:
    image: php:7.4
    stage: version-candidate
    artifacts:
        paths:
            - version
    script:
        - php ci/gen-version.php  > ./version
    only:
        - develop

build-candidate:
    image: php:7.4
    stage: build-candidate
    script:
        - set +o pipefail
        - export VERSION="unknown"
        - "[ -f ./version ] && export VERSION=$(cat ./version)"
        - git checkout $VERSION
        - yes | php ci/build.php stg $VERSION -f
    artifacts:
        paths:
            - builds/
        expire_in: 1 mo
    only:
        - develop

version-release:
    image: php:7.4
    stage: version-release
    artifacts:
        paths:
            - version-release
    script:
        - mkdir -p ~/.ssh && chmod 700 ~/.ssh
        - ssh-keyscan gitlab.brontolabs.com >> ~/.ssh/known_hosts && chmod 644 ~/.ssh/known_hosts
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$SSH_PRIVATE_KEY")
        - php ci/gen-version.php --prod  > ./version-release
    only:
        - develop
    when: manual
    allow_failure: false

build-release:
    image: php:7.4
    stage: build-release
    script:
        - set +o pipefail
        - export VERSION="unknown"
        - "[ -f ./version-release ] && export VERSION=$(cat ./version-release)"
        - git checkout $VERSION
        - yes | php ci/build.php prod $VERSION -f --push-packages
    artifacts:
        paths:
            - builds/
        expire_in: 1 mo
    only:
        - develop
