<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bronto_cart" frontName="bcart">
            <module name="Bronto_Cart" before="Bronto_Integration" />
        </route>
    </router>
</config>
