<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="bronto_connector_gather_endpoints">
        <observer name="bronto_coupon_gather_endpoints" instance="Bronto\Coupon\Observer\AfterGatherEndpointsObserver" />
    </event>
    <event name="bronto_connector_coupon_endpoint">
        <observer name="bronto_coupon_gather_endpoint" instance="Bronto\Coupon\Observer\AfterEndpointInfoObserver" />
    </event>
    <event name="bronto_connector_advanced_endpoint_additional">
        <observer name="bronto_coupon_advanced_import" instance="Bronto\Coupon\Observer\AfterAdvancedAdditionalObserver" />
    </event>
    <event name="bronto_connector_redirect_coupon">
        <observer name="bronto_coupon_apply_coupon" instance="Bronto\Coupon\Observer\AfterRedirectCouponObserver" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="bronto_coupon_apply_quote" instance="Bronto\Coupon\Observer\AfterApplyCodeOnQuoteObserver" />
    </event>
    <event name="bronto_connector_source_coupon_code">
        <observer name="bronto_coupon_source_coupon" instance="Bronto\Coupon\Observer\AfterPullSpecificCouponObserver" />
    </event>
    <event name="bronto_connector_source_coupon_pool">
        <observer name="bronto_coupon_source_coupon_pool" instance="Bronto\Coupon\Observer\AfterPullCouponPoolsObserver" />
    </event>
    <event name="bronto_connector_trigger_flush">
        <observer name="bronto_coupon_trigger_flush_handle" instance="Bronto\Coupon\Observer\AfterTriggerReplenishObserver" />
    </event>
    <event name="bronto_connector_script_coupon_historical">
        <observer name="bronto_connector_script_coupon_historical_handle" instance="Bronto\Coupon\Observer\AfterHistoricalImportObserver" />
    </event>
    <event name="bronto_connector_script_coupon_event">
        <observer name="bronto_connector_script_coupon_event_handle" instance="Bronto\Coupon\Observer\AfterReplenishCouponsObserver" />
    </event>
    <event name="bronto_email_message_extras">
        <observer name="bronto_coupon_email_extras" instance="Bronto\Coupon\Observer\AfterMessageExtrasObserver" />
    </event>
    <event name="bronto_email_template_filter">
        <observer name="bronto_coupon_email_template_filter" instance="Bronto\Coupon\Observer\AfterTemplateFilterObserver" />
    </event>
</config>
