<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="bronto_product_extra_fields">
        <observer name="bronto_rating_extra_fields" instance="Bronto\Rating\Model\Observer\AfterProductExtraFieldsObserver" />
    </event>
    <event name="bronto_product_default_fields">
        <observer name="bronto_rating_default_fields" instance="Bronto\Rating\Model\Observer\AfterSetDefaultFieldsObserver" />
    </event>
    <event name="bronto_product_custom_fields">
        <observer name="bronto_rating_custom_fields" instance="Bronto\Rating\Model\Observer\AfterSetCustomFieldsObserver" />
    </event>
    <event name="bronto_product_attribute_fields">
        <observer name="bronto_rating_attribute_fields" instance="Bronto\Rating\Model\Observer\AfterSetAttributeFieldsObserver" />
    </event>
</config>
