<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="bronto_connector_queue_contact_transform">
        <observer name="bronto_connector_queue_contact_transform_handle" instance="Bronto\Contact\Observer\AfterTransformEventObserver" />
    </event>
    <event name="bronto_connector_gather_endpoints">
        <observer name="bronto_contact_gather_endpoints" instance="Bronto\Contact\Observer\AfterGatherEndpointsObserver" />
    </event>
    <event name="bronto_connector_contact_endpoint">
        <observer name="bronto_contact_gather_endpoint" instance="Bronto\Contact\Observer\AfterEndpointInfoObserver" />
    </event>
    <event name="bronto_connector_advanced_endpoint_additional">
        <observer name="bronto_contact_advanced_import" instance="Bronto\Contact\Observer\AfterAdvancedAdditionalObserver" />
    </event>
    <event name="bronto_connector_script_contact_historical">
        <observer name="bronto_connector_script_contact_historical" instance="Bronto\Contact\Observer\AfterHistoricalImportObserver" />
    </event>
    <event name="bronto_connector_script_contact_test">
        <observer name="bronto_connector_script_contact_test" instance="Bronto\Contact\Observer\AfterTestImportObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="bronto_contact_guest_order_check" instance="Bronto\Contact\Observer\AfterUpdateGuestInfoObserver" />
    </event>
    <event name="customer_save_after">
        <observer name="Bronto_Contact::pushCustomer" instance="Bronto\Contact\Observer\AfterCustomerSaveObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="Bronto_Contact::pushNewCustomer" instance="Bronto\Contact\Observer\AfterCustomerSaveObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_editPost">
        <observer name="Bronto_Contact::pushEmailCustomer" instance="Bronto\Contact\Observer\AfterAccountEditedObserver" />
    </event>
</config>
